
img{
  max-width: 100%;

}
.banner {
  display: flex;
  height: 14.23vw;
  max-width: 90%;
  justify-content: center;
}


.box-form{
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}


.button_pos {
  display: flex;
  justify-content: center;
  height: 5vh;
}
