
img{
  max-width: 100%;

}
.banner {
  display: flex;
  height: 14.23vw;
  max-width: 90%;
  justify-content: center;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.nav-iconE{
  width: 50px;
  height: 50px;
}

#circle {
    width: 47px;
    height: 47px;
    border-radius: 100px;
    background-color: white;
}

/* DASHBOARD STUFF*/
#redir-button{
  cursor: pointer;
  trigger: hover;
}


/*THESE ARE FOR SIGN UP - SIGN IN*/


#date-picker-thing{
  background: true !important;
  border: 1px solid black !important;
  outline: 1px solid black !important;
}

.panel-default {
  border-radius: 25px;
}

.message-box{
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
  max-width: 60%;
}


.app-name{
  width: 225px;
  height: 225px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.box-form{
  border-radius: 25px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(242,242,242);
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}
.button_pos {
  display: inline-block;
  margin: 10px;
  justify-content: center;
  height: 5vh;
}

.navbar-custom{
  padding-bottom: 95px;
}

/*FOR PERSONAL PROFILE SUBMISSION FORM*/

#button1{
  margin: 0 0% 0 5%;
}

.select-box{
  display: inline-block;
  width: 50%;
  text-align: center;
}

#table-thing{
  font: "Calibri";
  text-align: center;
  justify-content: center;
}

#add-button{
  margin: 10px 0 0 10px;
  height: 35px;
  width: 75.92px;
}

#add-word{
  justify-content: center;
  padding-bottom: 5px;
}
#submission-form{
  text-align: center;
}

#split-thing{
  padding-bottom: 15px;
}

.form-thing{
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.event-box{
  display: flex;
  justify-content: center;
}

.submit-box {
  padding: 5px;
  border-radius: 15px;
  background-color: #ffffff;
  display: inline-block;
  padding-top: 15px;
  width: 100%;
  justify-content: center;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #18bc9c !important;
  background-color: #1a242f;
}

/*OVERRDING PAGINATION COLOR*/
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #2c3e50 !important;
    border-color: transparent;
    cursor: default;
}

/*////////////////
///Dashboard//////
//////////////////*/

.dashboard-table{
  background-color: white;
  margin-top: 30px;
}
.dashboard-filter{
  margin-top: 30px;
  width: 20%;
}
.dashboard-container{
  background-color: #F5B041;
  border-radius: 10px;
  margin-top: 10%;
  padding-top: 20px;
}
.dashboard-label{
  display: inline-block;
  float: left;
  margin-left: 8%;
}
.dashboard-label .label{
  padding: 10px;
  margin-left: 10px;
}
.dataTables_filter{
  margin-bottom: 15px;
}
.dashboard-table-avatar{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.dashboard-profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.dashboard-fix-td-margin{
  padding-top: 15px !important;
}
.profile-img{
    margin-right: 5px;
    float: left;
    background: url(../img/1065-IMG_2529.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 20px;
    height: 20px;
}
.react-bs-table-container{
  margin:10px;
}
/*THESE ARE FOR THE PERSONAL PROFILE*/
/*////////////////
///Personal Profile//////
//////////////////*/

.modal-button{
  text-align: center;
}

.personal-profile-container{
  margin-top: 70px;
}
.panel panel-default{
  max-width: 90%;
}

.avatar-circle{
  width: 100px;
  height: 100px;
  background-color: inherit;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials{
  position: relative;
  top: 25px;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 150px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.profile-card {
    font: 12px "Myriad Pro";
}
.profile-card .profile-cover {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

#banner {
  max-width: auto !important;
}

.profile-card .profile-cover:hover {
    filter: none;
    filter: none;
    -webkit-filter: none;

}
.profile-card .profile-cover .profile-avatar {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border: 5px solid #ffffff;
    width: 275px;
    height: 275px;
    position: absolute;
    margin: 25px auto 0;
    overflow: hidden;
    left: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}
.profile-card .profile-cover .profile-details {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 7px;
}

.profile-card .profile-cover .profile-banner {
    color: transparent;
    width: 100%;
    padding: 5px 0 7px;
}


.text-error{
  color: red;
}
