<html>
  <head>
    <title>Express handlebars</title>
  </head>
  <body>
    <div id="home"></div>
  </body>
</html>
<script src="https://fb.me/react-15.0.2.js"></script>

<script src="https://fb.me/react-dom-15.0.2.js"></script>
<script>
    ReactDOM.render(
      React.createElement(Home, {}), document.getElementById("home")
    );
</script>
