<!DOCTYPE HTML>
<html>
    <div id="output"></div>
    <script src="ejs.js"></script>
    <script>
        var ejs = require('ejs'), people = ['John', 'Neil', 'Alex'];
        var html = ejs.render('<%= people.join(", "); %>', {people: people});
        document.getElementById('output') = html;
    </script>
</html>